node_modules/
.claude/
.codex
*.pdf
.vscode/
.mdf-temp-*.html
useless/
*.md
!test/**/*.md
!playground/src/sample-html.md
!playground/src/sample-typst.md
!README.md
out/
vscode-mdf/out/
playground/dist/
*.vsix

Markdown-mark.svg
publicity.txt
